#loader,
#chart-loader {
    margin: 21em auto;
    width: 8vmax;
    height: 8vmax;
    border-right: 4px solid rgba(57, 211, 83, 1);
    border-radius: 100%;
}

#loader {
    animation: spinRight 800ms linear infinite;
}

#chart-loader {
    animation: spinLeft 1800ms linear infinite;
    left: 62em;
    top: -1em;
}


@media only screen and (max-width: 1400px) {
    #chart-loader {
        top: -9.9em;
        left: 27.8em;
    }
}



@keyframes spinLeft {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(720deg);
    }
}

@keyframes spinRight {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }

}