body {
    background-color: black;
    font: 'Eczar', serif;
}

/* header styling */
.intro {
    padding: 1em;
    border: 1px dashed;
    margin: 10px;
    text-align: center;
    font-size: 2em;
    background: black;
    color: #39d353;
}

#main {
    display: flex;
}


/* nav bar wrapper  */
#repo-list {

    width: 50%;
}

#my-links {
    width: 25%;
    margin-bottom: 12em;
}

/* nav bar button styling  */
.button-list {
    margin: 2px 20px;
    font-family: 'Eczar', serif;
    font-size: 20px;
    text-align: center;
    background: rgba(0, 109, 50, 1);
    border: 1px solid rgba(57, 211, 83, 1);
    border-radius: 6px;
    color: white;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    cursor: pointer;
    width: 290px;
}

.button-list:hover {
    background-color: rgba(14, 68, 41, 1);
    box-shadow: 0px 0px 25px 9px rgb(14 68 41);
    transition: 0.3s;
}

/* chart will stay on screen  */
#pie-chart {
    position: fixed;
    right: 114px;
}

#repo-lang-stats {
    height: 30em;
    width: 60em;
    border-radius: 138px;
    /* background-color: rgba(14, 68, 41, 0.4); */
    padding-bottom: 1em;
}

@media only screen and (max-width: 1400px) {

    .intro>h1 {
        font-size: 24px;
    }

    /* nav bar wrapper  */
    #repo-list {
        overflow-y: scroll;
        overflow-x: hidden;
        width: 14em;
        height: 17em;
    }

    #my-links {
        width: 100%;
        margin-bottom: 12em;
        overflow: auto;
    }

    /* nav bar button styling  */
    .button-list {
        margin: 2px 20px;
        font-family: 'Eczar', serif;
        font-size: 14px;
        text-align: center;
        background: rgba(0, 109, 50, 1);
        border: 1px solid rgba(57, 211, 83, 1);
        border-radius: 6px;
        color: white;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
        cursor: pointer;
        width: 200px;
    }

    #pie-chart {
        position: fixed;
        left: 250px;
        right: 0;

    }

    #repo-lang-stats {
        height: 150px;
        width: 300px;
        border-radius: 10px;
        padding-bottom: 10px;
        /* background-color: rgba(14, 68, 41, 0.4); */
    }
}