/* header styling */
.intro {
    padding: 1em;
    margin: 1px 0;
    text-align: center;
    font-size: 2em;
    background: black;
    color:rgb(55, 87, 99);
}

/* nav bar wrapper  */
#repo-list {
    display: flex;
    flex-wrap: wrap;
}

/* nav bar button styling  */
.button-list {
    margin: 1px auto;
    font-family: 'Eczar', serif;
    font-size: 20px;
    text-align: center;
    background: rgb(55, 87, 99);
    border: 1px solid black;
    border-radius: 6px;
    color: white;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    cursor: pointer;
    width: 290px;
}
